{% extends 'baseFront.html.twig' %}

{% block title %} 
  Modification
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {{ include('messagerie/_form.html.twig', {'button_label': 'Update'}) }}
                
            </div>
             <img src="{{ asset('images/modifIconn.png') }}" alt="image" class="img-fluid" style="width: 400px; height: 400px;">
            <div class="col-md-6 d-flex align-items-start justify-content-end">
               
        </div>
        
            </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <a href="{{ path('app_messagerie_indexclient') }}" class="btn btn-secondary mr-3">Retour</a>
                {{ include('messagerie/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
